.infoPage {
    padding-top: 5em;
    width: 100%;
    display: grid;
    place-items: center;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

    .infoBWrap {
        grid-column: 1 !important;
        grid-row: 2;

        width: 100%;
        display: grid;
        place-items: center;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

        .infoPage div:nth-of-type(even){
            grid-column: 2 / 5;
        }

        .infoBlock {
            grid-column: 1 / 4;

            display: grid;
            grid-template-columns: auto 1fr;
            grid-template-rows: 1fr 1fr;
            
            width: 100%;
            margin: 3em 0;
        }

            .infoBlock img {
                grid-row: 1 / 3;
                grid-column: 1;

                width: 12.5em;
                height: 12.5em;
                object-fit: cover;
            }

            .infoBlock h3 {
                margin: 0;
                padding: 0 0 0 1.5em;
                align-self: center;
            }

            .infoBlock p {
                margin: 0;
                padding: 0 0 0 1.5em;
            }
           
